<?xml version="1.0"?>
<launch>
    <arg name="is_display_plot" default="true"/>
    <node name="command_thrusters" pkg="bluerov2_control" type="send_thrust.py" output="screen" />
    <group if="$(arg is_display_plot)">
        <node name="thruster_plotter" pkg="bluerov2_states" type="plot_thruster.py" output="screen" />
    </group>
</launch>